<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>

	<body>
		
		<div ng-app>
			<div >
				<span>姓名：</span>
				<input type="text"  ng-model="name" placeholder="请输入姓名"/>
				
				<span>年龄：</span>
				<input type="number"  ng-model="age" placeholder="请输入年龄"/>
				
				
				<h3>你输入的信息是:{{ name+","+age }}</h3>
				
			</div>
		</div>
		
		
		
		
		<!--<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>-->
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>