<!DOCTYPE html>
<html ng-app="app" ng-controller="myController">

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<input type="checkbox" ng-model="flag" />
		
		<select name="" ng-model="value">
			<option value="sz" ng-selected="flag">深圳</option>
			<option value="gz">广州</option>
			<option value="sh">上海</option>
			<option value="bj">北京</option>
			
		</select>
		<h1>{{ value }}</h1>

		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('myController', function($scope) {
				$scope.value = '';
				$scope.flag = false;
				
			});
			
			
			
			
			
			
		</script>
	</body>

</html>