<!DOCTYPE html>
<html ng-app>

	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>

	<body>

		<input type="text" ng-model="val" />
		<h2>{{val}}</h2>
		<div ng-init="num=90;str='hello angular';array=[1,2,3,5,6,7,8];obj={name:'小明',age:16}">
		</div>
		<hr />
		<h2 ng-bind="num"></h2>
		<h3>{{ str + array[5] + obj.name }}</h3>
		
		<ul>
			<li ng-repeat="v in array">{{v}}</li>
		</ul>
		
		
		
		<script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>